# Copyright (c) 2024-2026 Michael Laurence Curzi and 36N9 Genetics, LLC
# SPDX-License-Identifier: Apache-2.0
# work output of the fuzzers and drivers (never committed)
/build/
crash-*
leak-*
timeout-*
oom-*
*.profraw
